nav { 
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: lightseagreen;
}

nav a {
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    color: seagreen;
}


p {
    display: flex;
    font-size: 24px;
    text-align: center;
    color: seagreen;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    min-height: 20%;
}