nav { 
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: lightseagreen;
}

nav a {
    padding: 20px;
}

nav a:hover {
    background-color: gray;
    padding: 22px;
    font-size: 110%;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    color: seagreen;
}


p {
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    margin: 20px auto;
    max-width: 60%;
    border: 5px solid #a004a0
}